<?xml version="1.0"?>
<launch>

    <!--<node pkg="habitat_interface" type="agent_tf_broadcaster.py" name="agent_tf_broadcaster" />-->

    <node pkg="habitat_interface" type="depth_ros.py" name="depth_ros">
    
    </node>>
    <node pkg="habitat_interface" type="rgb_ros.py" name="rgb_ros" />

    <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">
        <remap from="image" to="ros_img_depth"/>
        <remap from="camera_info" to="camera_info_topic"/>
        <param name="output_frame_id" value="laser" />
        <param name="scan_time" value="0.025" />
    </node>

    <node pkg="laser_scan_matcher" type="laser_scan_matcher_node" name="laser_scan_matcher_node" output="screen">

        <param name="max_iterations" value="10"/>
        <param name="fixed_frame" value="odom"/>
        <param name="base_frame" value="base_frame"/>
        <param name="fixed_frame" value="odom"/>

    </node>


    <node pkg="tf" type="static_transform_publisher" name="base_frame_to_laser" args="0.0 0.0 0.0 0.0 0.0 0.0 /base_frame /laser 1" />



</launch>
